body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(139, 190, 192);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    text-align: center;
    
    padding: 40px 10px;
    color: rgb(11, 12, 11);
    backdrop-filter: blur(6px);
}